

.underNav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.rightSide{
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 49.9vw;
  height: 150vh;
  border-left: .5px solid black;
}

