

.underNav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.rightSide{
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 48.7vw;
  height: 100vh;
  border-left: .5px solid black;
}

